.tarjeta__fuente, .tarjeta__avellaneda, .tarjeta__independencia, .tarjeta__casatuc, .tarjeta__monumentobandera {
  width: 60%;
  margin: 20px auto;
  padding: 25px;
  background: white;
  border-radius: 5px;
}

.tarjeta__img {
  width: 90%;
  border-radius: 10px;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.tarjeta__title {
  margin: 5px;
  letter-spacing: 3px;
  font-size: 120%;
  color: brown;
  font-weight: 500;
  font-family: poppins;
}

.tarjeta__bajada {
  font-size: 18px;
  font-weight: 200;
  font-family: poppins;
}

/*Condicionales IF */
h6 {
  color: white;
  background-color: #dbc8c8;
  text-align: center;
  padding: 25px;
  border-radius: 5px;
}

/*Bucle FOR*/
.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

/*Bucle EACH*/
.fondo-marron-1 {
  background-color: brown;
}

.fondo-marron-2 {
  background-color: #a54040;
}

.fondo-marron-3 {
  background-color: #a15050;
}

.btn--twitter {
  background-color: #c25e30;
}

.btn--facebook {
  background-color: #c25e30;
}

.btn--send-email {
  background-color: #c25e30;
}

/*MAPAS*/
div {
  background-color: 15px;
}

/*MIXINS CON PARAMETROS*/
h6 {
  font-size: 15px;
  text-transform: uppercase;
  color: brown;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
  color: brown;
}

/*MIXINS*/
.tarjeta__fuente, .tarjeta__avellaneda, .tarjeta__independencia, .tarjeta__casatuc, .tarjeta__monumentobandera {
  border: transparent 1px brown;
  border-radius: 10px;
}

.titulo-quienes-somos {
  display: inline;
}

.principal1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tarjetas__principal {
  display: block;
}

.tarjeta__vinos {
  width: 40%;
  margin: 20px auto;
  padding: 25px;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

.navbarcss {
  background-color: brown;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1;
      grid-template-rows: 1;
  -ms-grid-columns: (1fr)[11] 35px;
      grid-template-columns: repeat(11, 1fr) 35px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarcss .logo {
  width: 60px;
  height: 70px;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.navbarcss h1 {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-weight: bold;
  font-size: 30px;
  -ms-grid-column: 4;
  -ms-grid-column-span: 4;
  grid-column: 4/8;
  -ms-grid-row: 1;
  grid-row: 1;
}

.navbarcss .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  font-weight: bold;
  -ms-grid-column: 9;
  -ms-grid-column-span: 3;
  grid-column: 9/12;
  gap: 8px;
}

.navbarcss .menu li {
  list-style: none;
}

.navbarcss .menu a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

.navbarcss .menu-bar {
  display: none;
}

.navbarcss .shop {
  -ms-grid-column: 12;
  grid-column: 12;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: white;
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

ul li a:after {
  content: '';
  width: 0;
  height: 3px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: white;
  -webkit-transition: width .4s ease;
  transition: width .4s ease;
}

ul li a:hover:after {
  width: 100%;
  left: 0;
  background: white;
}

main {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 195, 195, 0.884)), to(#caa4a0));
  background-image: linear-gradient(rgba(238, 195, 195, 0.884), #caa4a0);
}

.imgprincipal {
  width: 100vw;
  height: 100vh;
}

.principal1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 40px 200px 50px 50px 1fr 40px 40px;
      grid-template-rows: 40px 200px 50px 50px 1fr 40px 40px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  padding-left: 20px;
  padding-right: 20px;
}

.principal1 .titulo-quienes-somos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  grid-row: 1;
}

.principal1 .texto-quienes-somos {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  grid-row: 2;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 30px;
  text-align: justify;
  padding-top: 15px;
}

.principal1 .titulo-nuestros-productos {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.principal1 .imagen1vino {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 1;
  grid-column: 1;
  border-radius: 15px;
  -webkit-animation-name: jackInTheBox;
          animation-name: jackInTheBox;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.principal1 .titulo-vino {
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 1;
  grid-column: 1;
}

.principal1 .titulo-vino a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  background-color: #bd847d;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.principal1 .imagen2jamon {
  -ms-grid-row: 5;
  grid-row: 5;
  -ms-grid-column: 2;
  grid-column: 2;
  border-radius: 8px;
  -webkit-animation-name: jackInTheBox;
          animation-name: jackInTheBox;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.principal1 .titulo-jamones {
  -ms-grid-row: 6;
  grid-row: 6;
  -ms-grid-column: 2;
  grid-column: 2;
}

.principal1 .titulo-jamones a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  background-color: #bd847d;
  border-radius: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.principal1 aside {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  line-height: 30px;
}

li {
  list-style: none;
}

h2 {
  color: brown;
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  padding-top: 15px;
  -webkit-animation-name: zoomIn;
          animation-name: zoomIn;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.titulotempranillo {
  -webkit-transform: translate(400px, 20px);
          transform: translate(400px, 20px);
}

.tempranilloimg {
  -webkit-animation-name: backInLeft;
          animation-name: backInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.tempranillotexto {
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(45px);
          transform: translateY(45px);
}

.botontempranillo {
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
}

.principal .titulomalbec {
  -webkit-transform: translate(-1030px, 320px);
          transform: translate(-1030px, 320px);
}

.principal .titulotorrontes {
  -webkit-transform: translate(165px, 340px);
          transform: translate(165px, 340px);
}

.titulomalbec {
  -webkit-transform: translate(420px, 20px);
          transform: translate(420px, 20px);
}

.malbectexto {
  text-align: justify;
  -webkit-transform: translateY(60px);
          transform: translateY(60px);
}

.malbecimg {
  -webkit-animation-name: backInRight;
          animation-name: backInRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.botonmalbec {
  -webkit-transform: translateX(950px);
          transform: translateX(950px);
}

.titulotorrontes {
  -webkit-transform: translate(400px, 20px);
          transform: translate(400px, 20px);
}

.torrontesimg {
  -webkit-animation-name: backInLeft;
          animation-name: backInLeft;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.torrontestexto {
  text-align: justify;
  -webkit-transform: translateY(55px);
          transform: translateY(55px);
}

.jamonestexto {
  text-align: justify;
  -webkit-transform: translateY(80px);
          transform: translateY(80px);
}

button:hover {
  background-color: brown;
  color: white;
  border-radius: 10px;
  font-weight: bold;
}

.titulo-finca {
  text-align: center;
  line-height: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

.textofinca {
  text-align: center;
  line-height: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

.galeria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 15px;
  row-gap: 15px;
}

.historia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 20px 20px 20px;
  text-align: justify;
  line-height: 30px;
}

.historia h2 {
  padding-left: 5px;
  padding-top: 20px;
}

.piedepagina {
  display: -ms-grid;
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #73241d;
  color: white;
      grid-template-areas: "contacto   redes-sociales" 				 "politicapriv   mapa";
}

.piedepagina .contacto {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contacto;
  text-align: left;
  text-align: justify;
  padding-left: 10px;
  padding-right: 20px;
  line-height: 30px;
}

.piedepagina .politicapriv {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: politicapriv;
  text-align: left;
  text-align: justify;
  padding-left: 10px;
  padding-right: 20px;
  line-height: 30px;
}

.piedepagina .redes-sociales .instagram {
  font-size: 50px;
  text-align: center;
  cursor: pointer;
}

.piedepagina .redes-sociales .twitter {
  font-size: 50px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.piedepagina .mapa {
  cursor: pointer;
}

.piedepagina h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
/*# sourceMappingURL=estilos.css.map */