@media (min-width: 320px) and (max-width: 480px) {
    p{
        font-size: 12px;
    }
    .navbar{
        position: relative;
    }
    .navbar h1{
        font-size: 15px;
        grid-column: 3/11;
    }
    .navbar .menu-bar{
        display: block;
        grid-column: 12;
        cursor: pointer;
        font-size: 30px;
        color: white;
        font-size: 20px;
    }
    .navbar .shop{
        display: none;
    }
    .navbar .menu{
        display: none;
    }
    .navbar .logo{
        width: 35px;
        height: 40px;
    }

    /*INDEX 320-480*/
    .imgprincipal{
        width: 100vw;
        height: 100vh;
    }
    .principal1 h2{
        font-size: 18px;
    }
    .principal1 p{
        font-size: 12px;
    }
    .principal1 li{
        font-size: 12px;
    }
    .principal1{
        display: flex;
        flex-direction: column;
    }
    .principal1 .imagen1vino{
        display: inline;
        width: 70px;
    }
    .principal1 .imagen2jamon{
        display: inline;
        width: 70px;
    }
    /*
    .principal1 .titulo-quienes-somos{
        grid-column: 1/6;
        grid-row: 1;
        text-align: center;
    }
    .principal1 .texto-quienes-somos{
        grid-column: 1/6;
        grid-row: 2;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 30px;
        text-align: justify;
    }
    .principal1 .titulo-nuestros-productos{
        grid-row: 3;
        grid-column: 1/6;
        text-align: center;
    }
    .principal1 .imagen1vino{
        width: 60px;
        grid-row: 4;
        grid-column: 2/3;
        border-radius: 15px;
        transform: translateX(-20px);
    }
    .principal1 .imagen2jamon{
        width: 80px;
        grid-row: 4;
        grid-column: 3/6;
        border-radius: 15px;
        transform: translateX(20px);
    }
    .principal1 aside{
        grid-column: 1/6;
        grid-row: 5;
        line-height: 30px;
    }
    .principal1 .titulo-aside{
        text-align: center;
        padding-top: 20px;
    }
    */
    .principal1 .video{
        width: 90vw;
    }

    /*PRODUCTOS 320-480*/
    .principal{
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 30px 20px 110px 1fr 50px 20px 120px 1fr 50px 20px 120px 1fr 50px 20px 120px 1fr 50px;
    }
    .principal h2{
        font-size: 15px;
        grid-row: 1;
        grid-column: 1/6;
        justify-items: center;
    }
    .principal .titulotempranillo{
        grid-row: 2;
        font-size: 13px;
    }
    .principal .tempranilloimg{
        width: 90px;
        grid-row: 3;
        grid-column: 2/3;

    }
    .principal .tempranillotexto{
        font-size: 12px;
        grid-column: 1/6;
        grid-row: 4;
        text-align: center;
    }
    .principal .botontempranillo{
        grid-column: 2;
        grid-row: 5;
        size: 15px;
    }
    .principal .titulomalbec{
        grid-row: 6;
        font-size: 13px;
    }
    .principal .malbecimg{
        width: 60px;
        grid-row: 7;
        grid-column: 2/3;
    }
    .principal .malbectexto{
        font-size: 12px;
        grid-row: 8;
        grid-column: 1/6;
        text-align: center;
    }
    .principal .botonmalbec{
        grid-row: 9;
    }
    .principal .titulotorrontes{
        grid-row: 10;
        font-size: 13px;
    }
    .principal .torrontesimg{
        width: 60px;
        grid-row: 11;
        grid-column: 2/3;
    }
    .principal .torrontestexto{
        font-size: 12px;
        grid-row: 12;
        grid-column: 1/6;
        text-align: center;
    }
    .principal .botontorrontes{
        grid-row: 13;
    }
    .principal .titulojamones{
        grid-row: 14;
        font-size: 13px;
    }
    .principal .jamonesimg{
        width: 90px;
        grid-row: 15;
        grid-column: 2/3;
    }
    .principal .jamonestexto{
        font-size: 12px;
        grid-row: 16;
        grid-column: 1/6;
        text-align: center;
    }
    .principal .botonjamones{
        grid-row: 17;
    }
    /*HISTORIA 320-480*/

    .historia h2{
        font-size: 20px;
    }
    .historia h4{
        font-size: 15px;
    }

    /*FOOTER 320-480*/ 
    .piedepagina{
        font-size: 12px;
    }
    .piedepagina h4{
        font-size: 15px;
    }
}


@media (min-width: 481px) and (max-width: 600px) {
    .navbar{
        position: relative;
    }
    .navbar .shop{
        display: none;
    }
    .navbar .menu-bar{
        display: block;
        grid-column: 12;
        cursor: pointer;
        font-size: 30px;
        color: white;
    }
    .navbar .menu{
        display: none;
    }
    .navbar h1{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 25px;
        grid-column: 3/10;
    }
    .navbar .logo{
        width: 50px;
        height: 60px;
        grid-column: 1;
        grid-row: 1;
    }
    /*INDEX 481-600*/
    .imgprincipal{
        width: 100vw;
        height: 100vh;
    }
    .principal1{
        grid-template-rows: 40px 200px 40px 1fr;
        grid-template-columns: repeat(5,1fr);
    }
    .principal1 .titulo-quienes-somos{
        grid-column: 1/6;
        grid-row: 1;
        text-align: center;
    }
    .principal1 .texto-quienes-somos{
        grid-column: 1/6;
        grid-row: 2;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 30px;
        text-align: justify;
    }
    .principal1 .titulo-nuestros-productos{
        grid-row: 3;
        grid-column: 1/6;
        text-align: center;
    }
    .principal1 .imagen1vino{
        grid-row: 4;
        grid-column: 2/3;
        border-radius: 15px;
        transform: translateX(-20px);
    }
    .principal1 .imagen2jamon{
        grid-row: 4;
        grid-column: 3/6;
        border-radius: 15px;
        transform: translateX(20px);
    }
    .principal1 aside{
        grid-column: 1/6;
        grid-row: 5;
        line-height: 30px;
    }
    .principal1 .titulo-aside{
        text-align: center;
        padding-top: 20px;
    }
    .principal1 .video{
        width: 90vw;
    }

    /*PRODUCTOS 481-600*/
    .principal{
        display: grid;
        grid-template-columns: 170px 1fr 1fr 170px;
        grid-template-rows: 40px 40px 1fr 20px 40px 1fr 20px 40px 1fr 20px 40px 1fr 20px;
    }
    .principal h2{
        grid-column: 2/4;
        grid-row: 1;
        font-size: 20px;
    }
    .principal .titulotempranillo{
        grid-column: 2;
        grid-row: 2;
    }
    .principal .tempranilloimg{
        grid-column: 1;
        grid-row: 3;
    }
    .principal .tempranillotexto{
        grid-column: 2/7;
        grid-row: 3;
        padding-right: 15px;
    }
    .principal .botontempranillo{
        grid-row: 4;
        grid-column: 1;
    }
    .principal .malbecimg{
        width: 70px;
        grid-column: 4;
        grid-row: 6;
    }
    .principal .titulomalbec{
        grid-row: 5;
        grid-column: 2;
    }
    .principal .malbectexto{
        grid-column: 1/4;
        grid-row: 6;
    }
    .principal .botonmalbec{
        grid-row: 7;
        grid-column: 4;
    }
    .principal .titulotorrontes{
        grid-row: 9;
        grid-column: 1;
    }
    .principal .torrontestexto{
        grid-column: 2/5;
        grid-row: 9;
    }
    .principal .torrontesimg{
        grid-row: 9;
        grid-column: 1;
    }
    .principal .botontorrontes{
        grid-row: 10;
        grid-column: 1;
    }
    .principal .jamonesimg{
        width: 140px;
        grid-column: 1;
        grid-row: 12;
        transform: translate(20px,20px);
    }
    .principal .botonjamones{
        grid-row: 13;
        grid-column: 1;
    }
    .principal .jamonestexto{
        grid-row: 12;
        grid-column: 2/5;
        padding-left: 15px;
        padding-top: 20px;
    }
    .principal .titulojamones{
        grid-row: 11;
        padding-top: 20px;
    }
    /*FOOTER 481-600*/ 
    .piedepagina{
        height: fit-content;
    }
}

@media (min-width:601px) and (max-width:900px){
    .navbar{
        position: relative;
    }
    .navbar .shop{
        display: flex;
        padding-left: 5px;
    }
    .navbar .menu-bar{
        display: none
    }
    .navbar .logo{
        width: 50px;
        height: 60px;
        grid-column: 1;
        grid-row: 1;
    }
    .navbar .menu{
        display: flex;
        grid-column: 11;
        font-size: 12px;
    }
    .navbar h1{
        font-family: 'Times New Roman', Times, serif;
        color: white;
        font-size: 20px;
        grid-column: 2/10;
    }
    /*PRODUCTOS 601-900*/
    .principal1 h2{
        font-size: 20px;
    }
    .principal1 p{
        font-size: 15px;
    }
    .principal1{
        display: grid;
        grid-template-rows: 40px 270px 40px 40px 1fr;
        grid-template-columns: repeat(5,1fr);
    }
    .principal1 .imagen1vino{
        width: 70px;
    }
    .principal .imagen2jamon{
        width: 30px;
    }
    .principal1 .video{
        width: 30vw;
        height: 50vh;
    }
    .principal1 li{
        font-size: 15px;
    }
    .principal .titulotempranillo{
        transform: translate(-310px,55px);
    }

    /*FOOOTER 601-900*/
    .piedepagina P{
        font-size: 12px;
    }
    .piedepagina h4{
        font-size: 15px;
    }
}
@media (min-width:901px) and (max-width:1200px){
    .navbar{
        position: relative;
    }
    .navbar .shop{
        display: flex;
        padding-left: 10px;
    }
    .navbar .menu-bar{
        display: none;
        grid-column: 12;
        cursor: pointer;
        font-size: 30px;
        color: white;
    }
    .navbar .menu{
        display: flex;
        grid-column: 11;
        
    }
    .navbar h1{
        font-size: 30px;
        grid-column: 3/9;
    }
    /*INDEX 901-1200*/
    .principal1{
        display: grid;
        grid-template-rows: 40px 270px 40px 40px 1fr;
        grid-template-columns: repeat(5,1fr);
    }
    .principal1 .imagen1vino{
        width: 70px;
    }
    .principal .imagen2jamon{
        width: 30px;
    }
    .principal1 .video{
        width: 30vw;
        height: 50vh;
    }
    .principal1 li{
        font-size: 15px;
    }
    .principal .titulotempranillo{
        transform: translate(-400px,55px);
    }
}