/* >= 1400px / XXL */

@media (min-width: 1400px){
    
    /*General*/
    .navbarcss .menu{
        grid-column: 9/12;
    }
    .navbarcss .shop{
        display: flex;
        padding-left: 0px;
        padding-bottom: 10px;
    }

    /*PRODUCTOS*/
    .botonmalbec{
        transform: translateX(1200px);
    }

}

/* >= 1200px / XL */

@media (min-width: 1200px){
    
    /*General*/
    .navbarcss .menu{
        grid-column: 11;
    }
    .navbarcss .shop{
        display: flex;
        padding-left: 15px;
        padding-bottom: 10px;
    }

    /*INDEX*/
    .titulo-nuestros-productos{
        transform: translateY(25px);
    }
    .video{
        width: 400px;
    }
}

/* >= 992px / lg */

@media (min-width: 992px) and (max-width:1199px){
    
    /*General*/
    .navbarcss h1{
		grid-column: 3/11;
	}
    .navbarcss .menu{
        grid-column: 11;
    }
    .navbarcss .shop{
        display: flex;
        padding-left: 15px;
        padding-bottom: 10px;
    }

    /*INDEX*/

    .titulo-nuestros-productos{
        transform: translateY(25px);
    }
    .principal1 {
        display: grid;
        grid-template-rows: 40px 200px 40px 40px 1fr 40px;
        grid-template-columns: 1fr 1fr 50px 1fr 1fr;
    }
    .video{
        width: 350px;
    }

    /*PRODIUCTOS*/
    .botonmalbec{
        transform: translateX(810px);
    }
}

/* >= 768px / md */

@media (min-width: 768px) and (max-width:991px){

    /*General*/
    .navbarcss h1{
		grid-column: 3/11;
        font-size: 25px;
	}
    .navbarcss .logo{
        width: 50px;
		height: 60px;
    }
    .navbarcss .menu{
        grid-column: 11;
        font-size: 15px;
        transform: translateY(8px);
    }
    .navbarcss .shop{
        display: flex;
        padding-left: 15px;       
    }

    /*INDEX*/
    .principal1 {
        display: grid;
        grid-template-rows: 40px 290px 40px 40px 1fr 50px;
        grid-template-columns: 1fr 1fr 30px 1fr 1fr;
    }
	.titulo-vino{
        font-size: medium;
    }
    .titulo-jamones{
        font-size: medium;
    }
    .video{
        width: 250px;
    }

    /*PRODUCTOS*/
    .botonmalbec{
        transform: translateX(600px);
    }
    .titulotempranillo, .titulomalbec, .titulotorrontes{
        transform: translateX(300px);
    }
    .jamonestexto{
        transform: translateY(15px);
    }
}

/* >= 576px / sm */

@media (min-width: 576px) and (max-width:767px){
    .navbarcss .shop{
        display: none;
    }
    .navbarcss .menu{
        display: none;
    }
    .navbarcss .menu-bar{
        display: block;
        grid-column: 12;
        transform: translateX(-5px);
        cursor: pointer;
        font-size: 30px;
        color: white;
        font-size: 30px;
    }
    .navbarcss h1{
		grid-column: 3/12;
        font-size: 25px;
	}
    .navbarcss .logo{
        width: 50px;
		height: 60px;
    }

    /*INDEX*/

    .principal1{
        grid-template-rows: 40px 180px 50px 280px 40px 1fr;
        grid-template-columns: repeat(5,1fr);
    }
    .principal1 .titulo-quienes-somos{
        grid-column: 1/6;
        grid-row: 1;
        text-align: center;
    }
    .principal1 .texto-quienes-somos{
        grid-column: 1/6;
        grid-row: 2;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        line-height: 30px;
        text-align: justify;
    }
    .principal1 .titulo-nuestros-productos{
        grid-row: 3;
        grid-column: 1/6;
        text-align: center;
        align-items: center;
    }
    .principal1 .imagen1vino{
        grid-row: 4;
        grid-column: 2/3;
        border-radius: 15px;
        transform: translateX(-20px);
    }
    .principal1 .imagen2jamon{
        grid-row: 4;
        grid-column: 3/6;
        border-radius: 15px;
        transform: translateX(20px);
    }
    .principal1 .titulo-vino{
        grid-row: 5;
        grid-column: 2/3;
        font-size: medium;
    }
    .principal1 .titulo-jamones{
        grid-row: 5;
        grid-column: 3/7;
        font-size: medium;
        transform: translateX(40px);
    }
    .principal1 aside{
        grid-column: 1/6;
        grid-row: 6;
        line-height: 30px;
    }
    .principal1 .titulo-aside{
        text-align: center;
        padding-top: 20px;
    }
    .principal1 .video{
        width: 450px;
    }

    /*PRODUCTOS*/
    .botonmalbec{
        transform: translateX(400px);
    }
    .titulotempranillo, .titulomalbec, .titulotorrontes{
        transform: translateX(200px);
    }
    .tempranillotexto, .malbectexto, .torrontestexto{
        transform: translateY(10px);
    }
    .jamonestexto{
        transform: translateY(15px);
    }
}