.titulo-quienes-somos{
    display: inline;
}
.principal1{
    display: flex;
}
.tarjetas__principal{
    display: block;
}
.tarjeta__vinos{
    width: 40%;
    margin: $espaciado-card;
    padding: $relleno-card;
    border-radius: 5px;
}